0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [ ]:
!pip install palmerpenguins

import pandas as pd
from palmerpenguins import load_penguins

penguins = load_penguins()

Collecting palmerpenguins
  Downloading palmerpenguins-0.1.4-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from palmerpenguins) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from palmerpenguins) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->palmerpenguins) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->palmerpenguins) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->palmerpenguins) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->palmerpenguins) (1.16.0)
Downloading palmerpenguins-0.1.4-py3-none-any.whl (17 kB)
Installing collected packages: palmerpenguins
Successfully installed palmerpenguins-0.1.4

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Other": Any penguins that do not fall into any of the categories.

In [ ]:
def classify_penguin(penguin):
    # Check for "Big Mouth Billy" condition
    if (penguin["sex"] == "male") and (penguin["bill_length_mm"] * penguin["bill_depth_mm"] > 800):
        return "Big Mouth Billy"

    # Check for "Dainty Daisy" condition
    elif (penguin["sex"] == "female") and (penguin["flipper_length_mm"] / penguin["body_mass_g"] < 0.05):
        return "Dainty Daisy"

    # Check for "Average Adelie" condition
    elif penguin["species"] == "Adelie":
        return "Average Adelie"

    # If none of the conditions are met, return "Other"
    else:
        return "Other"

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

In [ ]:
penguins["category_name"] = penguins.apply(classify_penguin, axis = 1)

3. Run the following code to find the counts for each type.

In [ ]:
penguins.value_counts("category_name")

category_name
Average Adelie     127
Other               84
Big Mouth Billy     71
Dainty Daisy        62
Name: count, dtype: int64